In [80]:
import pandas as pd
import matplotlib.pyplot as plt

# plt.style.use('ggplot')
plt.style.use('default')
import dateutil.parser
from datetime import datetime
import matplotlib
matplotlib.rcParams['pdf.fonttype'] = 42
%matplotlib inline

In [81]:
df = pd.read_csv("candidate_dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2142 entries, 0 to 2141
Data columns (total 32 columns):
country         2141 non-null object
ccode           2142 non-null int64
verified        448 non-null float64
year            2142 non-null int64
month           2142 non-null int64
day             2142 non-null int64
source          2142 non-null object
mcgowan         217 non-null float64
csp             458 non-null float64
bs              643 non-null float64
banks           423 non-null float64
moreno          228 non-null float64
finer           238 non-null float64
janowitz        204 non-null float64
kennedy         414 non-null float64
ferguson        497 non-null float64
okane           255 non-null float64
thompson        243 non-null float64
luttwak         113 non-null float64
lunde           111 non-null float64
world_hand      797 non-null float64
combined        2142 non-null int64
no_evidence     2142 non-null int64
rebellion       2142 non-null int64
no_overt        2142 non-null int64
legal           2142 non-null int64
no_exec         2142 non-null int64
protest         2142 non-null int64
autogolpe       2142 non-null int64
assasination    2142 non-null int64
invasion        2142 non-null int64
unclear         2142 non-null int64
dtypes: float64(15), int64(15), object(2)
memory usage: 535.6+ KB

In [82]:
df.head()

,country,ccode,verified,year,month,day,source,mcgowan,csp,bs,...,no_evidence,rebellion,no_overt,legal,no_exec,protest,autogolpe,assasination,invasion,unclear
0,Cuba,40,NaN,1952,-9,-9,"New York Times. Mar 11, 1952. p. 13",NaN,NaN,2.0,...,0,0,0,0,0,0,0,0,0,0
1,Cuba,40,NaN,1952,3,-9,"New York Times. Mar 11, 1952. p. 13",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,Cuba,40,2.0,1952,3,10,"New York Times. Mar 11, 1952. p. 13",NaN,NaN,2.0,...,0,0,0,0,0,0,0,0,0,0
3,Cuba,40,NaN,1952,3,11,"New York Times. Mar 11, 1952. p. 13",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,Cuba,40,NaN,1952,4,9,none,NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,0

In [5]:
df.describe()

/usr/local/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,ccode,verified,year,month,day,mcgowan,csp,bs,banks,moreno,...,no_evidence,rebellion,no_overt,legal,no_exec,protest,autogolpe,assasination,invasion,unclear
count,2142.000000,448.000000,2142.000000,2142.000000,2142.000000,217.000000,458.000000,643.000000,423.0,228.000000,...,2142.000000,2142.000000,2142.000000,2142.000000,2142.000000,2142.000000,2142.000000,2142.000000,2142.000000,2142.000000
mean,425.046218,1.495536,1971.418301,2.801120,6.180672,1.428571,1.421397,1.530327,2.0,1.333333,...,0.079832,0.071895,0.077965,0.021475,0.021942,0.020075,0.024276,0.011671,0.008403,0.041550
std,248.782286,0.500539,12.404577,7.316342,13.996748,0.496016,0.494323,0.499468,0.0,0.472442,...,0.271096,0.258375,0.268178,0.144996,0.146529,0.140289,0.153942,0.107427,0.091305,0.199605
min,40.000000,1.000000,1950.000000,-9.000000,-9.000000,1.000000,1.000000,1.000000,2.0,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,145.000000,NaN,1962.000000,1.000000,-9.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,461.000000,NaN,1970.000000,5.000000,6.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,640.000000,NaN,1979.750000,9.000000,19.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,950.000000,2.000000,2010.000000,12.000000,31.000000,2.000000,2.000000,2.000000,2.0,2.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
df.groupby(by='country').count()

,ccode,verified,year,month,day,source,mcgowan,csp,bs,banks,...,no_evidence,rebellion,no_overt,legal,no_exec,protest,autogolpe,assasination,invasion,unclear
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,25,4,25,25,25,25,0,11,9,9,...,25,25,25,25,25,25,25,25,25,25
Albania,3,0,3,3,3,3,0,1,0,0,...,3,3,3,3,3,3,3,3,3,3
Algeria,22,3,22,22,22,22,0,2,4,3,...,22,22,22,22,22,22,22,22,22,22
Angola,6,1,6,6,6,6,1,2,2,0,...,6,6,6,6,6,6,6,6,6,6
Argentina,81,20,81,81,81,81,0,11,23,16,...,81,81,81,81,81,81,81,81,81,81
Armenia,2,0,2,2,2,2,0,2,0,0,...,2,2,2,2,2,2,2,2,2,2
Azerbaijan,6,2,6,6,6,6,0,4,3,1,...,6,6,6,6,6,6,6,6,6,6
Bahrain,2,0,2,2,2,2,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
Bangladesh,17,6,17,17,17,17,0,7,11,7,...,17,17,17,17,17,17,17,17,17,17
Benin,55,8,55,55,55,55,9,13,17,12,...,55,55,55,55,55,55,55,55,55,55
Bolivia,105,23,105,105,105,105,0,15,26,15,...,105,105,105,105,105,105,105,105,105,105
Brazil,20,6,20,20,20,20,0,1,4,1,...,20,20,20,20,20,20,20,20,20,20
Brunei,1,0,1,1,1,1,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
Bulgaria,2,0,2,2,2,2,0,1,0,0,...,2,2,2,2,2,2,2,2,2,2
Burkina Faso,21,6,21,21,21,21,7,5,11,10,...,21,21,21,21,21,21,21,21,21,21
Burundi,38,10,38,38,38,38,14,12,12,9,...,38,38,38,38,38,38,38,38,38,38
Cambodia,23,3,23,23,23,23,0,10,7,5,...,23,23,23,23,23,23,23,23,23,23
Cameroon,3,1,3,3,3,3,1,1,2,0,...,3,3,3,3,3,3,3,3,3,3
Central African Republic,32,6,32,32,32,32,9,11,9,6,...,32,32,32,32,32,32,32,32,32,32
Chad,35,7,35,35,35,35,4,13,14,6,...,35,35,35,35,35,35,35,35,35,35
Chile,10,2,10,10,10,10,0,3,3,3,...,10,10,10,10,10,10,10,10,10,10
China,6,0,6,6,6,6,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6
Colombia,25,4,25,25,25,25,0,0,4,4,...,25,25,25,25,25,25,25,25,25,25
Comoros,23,9,23,23,23,23,10,9,8,9,...,23,23,23,23,23,23,23,23,23,23
Congo,42,7,42,42,42,42,7,11,13,7,...,42,42,42,42,42,42,42,42,42,42
Costa Rica,3,0,3,3,3,3,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
Cuba,18,2,18,18,18,18,0,0,2,3,...,18,18,18,18,18,18,18,18,18,18
Cyprus,4,1,4,4,4,4,0,1,2,2,...,4,4,4,4,4,4,4,4,4,4
Democratic Republic of the Congo,20,4,20,20,20,20,6,4,4,3,...,20,20,20,20,20,20,20,20,20,20
Djibouti,3,1,3,3,3,3,1,2,2,0,...,3,3,3,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Romania,1,0,1,1,1,1,0,0,0,1,...,1,1,1,1,1,1,1,1,1,1
Rwanda,7,2,7,7,7,7,1,1,2,3,...,7,7,7,7,7,7,7,7,7,7
Sao Tome and Principe,3,2,3,3,3,3,2,0,0,0,...,3,3,3,3,3,3,3,3,3,3
Senegal,5,1,5,5,5,5,1,1,0,0,...,5,5,5,5,5,5,5,5,5,5
Seychelles,5,0,5,5,5,5,1,0,0,2,...,5,5,5,5,5,5,5,5,5,5
Sierra Leone,38,10,38,38,38,38,12,12,15,10,...,38,38,38,38,38,38,38,38,38,38
Somalia,16,3,16,16,16,16,3,4,9,3,...,16,16,16,16,16,16,16,16,16,16
South Korea,14,1,14,14,14,14,0,2,2,3,...,14,14,14,14,14,14,14,14,14,14
Spain,4,1,4,4,4,4,0,2,3,0,...,4,4,4,4,4,4,4,4,4,4
Sri Lanka,3,0,3,3,3,3,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
Sudan,64,13,64,64,64,64,16,10,24,12,...,64,64,64,64,64,64,64,64,64,64
Suriname,8,2,8,8,8,8,0,0,0,2,...,8,8,8,8,8,8,8,8,8,8
Swaziland,5,1,5,5,5,5,2,1,0,2,...,5,5,5,5,5,5,5,5,5,5
Syria,61,11,61,61,61,61,0,7,17,15,...,61,61,61,61,61,61,61,61,61,61
Tajikistan,3,0,3,3,3,3,0,1,1,2,...,3,3,3,3,3,3,3,3,3,3
Tanzania,6,0,6,6,6,6,1,3,2,0,...,6,6,6,6,6,6,6,6,6,6
Thailand,41,11,41,41,41,41,0,8,15,15,...,41,41,41,41,41,41,41,41,41,41
Togo,30,7,30,30,30,30,9,12,8,2,...,30,30,30,30,30,30,30,30,30,30
Trinidad and Tobago,4,0,4,4,4,4,0,1,3,0,...,4,4,4,4,4,4,4,4,4,4
Tunisia,3,1,3,3,3,3,0,1,0,0,...,3,3,3,3,3,3,3,3,3,3
Turkey,22,5,22,22,22,22,0,5,10,4,...,22,22,22,22,22,22,22,22,22,22
Uganda,40,6,40,40,40,40,15,6,10,8,...,40,40,40,40,40,40,40,40,40,40
United Arab Emirates,2,2,2,2,2,2,0,1,0,0,...,2,2,2,2,2,2,2,2,2,2
Uruguay,9,2,9,9,9,9,0,0,2,0,...,9,9,9,9,9,9,9,9,9,9
Venezuela,58,13,58,58,58,58,0,4,9,1,...,58,58,58,58,58,58,58,58,58,58
Yemen,11,1,11,11,11,11,0,0,0,3,...,11,11,11,11,11,11,11,11,11,11
Yemen Arab Republic; N. Yemen,26,5,26,26,26,26,0,4,10,3,...,26,26,26,26,26,26,26,26,26,26
Yemen People's Republic; S. Yemen,17,3,17,17,17,17,0,3,3,4,...,17,17,17,17,17,17,17,17,17,17
Zambia,8,3,8,8,8,8,3,4,3,0,...,8,8,8,8,8,8,8,8,8,8
Zimbabwe,2,0,2,2,2,2,1,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [7]:
clean = pd.read_csv("clean.csv")
clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 475 entries, 0 to 474
Data columns (total 7 columns):
country    475 non-null object
ccode      475 non-null int64
year       475 non-null int64
month      475 non-null int64
day        475 non-null int64
coup       475 non-null int64
version    475 non-null object
dtypes: int64(5), object(2)
memory usage: 26.1+ KB

In [8]:
clean.describe()

            ccode         year       month         day        coup
count  475.000000   475.000000  475.000000  475.000000  475.000000
mean   431.157895  1976.831579    6.578947   15.854737    1.496842
std    244.751381    15.800345    3.429762    8.938252    0.500517
min     40.000000  1950.000000    1.000000    1.000000    1.000000
25%    150.000000  1964.000000    4.000000    8.000000    1.000000
50%    452.000000  1975.000000    7.000000   16.000000    1.000000
75%    625.000000  1989.000000   10.000000   23.000000    2.000000
max    950.000000  2016.000000   12.000000   31.000000    2.000000

In [9]:
clean.head()

  country  ccode  year  month  day  coup      version
0    Cuba     40  1952      3   10     2  V2016.07.20
1    Cuba     40  1957      9    5     1  V2016.07.20
2   Haiti     41  1950      5   10     2  V2016.07.20
3   Haiti     41  1956     12   12     2  V2016.07.20
4   Haiti     41  1957      4    2     2  V2016.07.20

In [10]:
clean[clean['country']=='Cuba']

  country  ccode  year  month  day  coup      version
0    Cuba     40  1952      3   10     2  V2016.07.20
1    Cuba     40  1957      9    5     1  V2016.07.20

In [11]:
df[df['country']=='Cuba']

,country,ccode,verified,year,month,day,source,mcgowan,csp,bs,...,no_evidence,rebellion,no_overt,legal,no_exec,protest,autogolpe,assasination,invasion,unclear
0,Cuba,40,NaN,1952,-9,-9,"New York Times. Mar 11, 1952. p. 13",NaN,NaN,2.0,...,0,0,0,0,0,0,0,0,0,0
1,Cuba,40,NaN,1952,3,-9,"New York Times. Mar 11, 1952. p. 13",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,Cuba,40,2.0,1952,3,10,"New York Times. Mar 11, 1952. p. 13",NaN,NaN,2.0,...,0,0,0,0,0,0,0,0,0,0
3,Cuba,40,NaN,1952,3,11,"New York Times. Mar 11, 1952. p. 13",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,Cuba,40,NaN,1952,4,9,none,NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,0
5,Cuba,40,NaN,1953,7,27,"New York Times. July 27, 1953. pg. 1",NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,0
6,Cuba,40,NaN,1956,4,29,"New York Times. Apr 30, 1956",NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,0
7,Cuba,40,NaN,1956,4,30,"New York Times. Apr 30, 1956",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
8,Cuba,40,NaN,1956,12,1,"New York Times. Dec 1, 1956",NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,0
9,Cuba,40,NaN,1956,12,10,"New York Times. Dec 10, 1956",NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,0
10,Cuba,40,NaN,1956,12,27,"New York Times. Dec 28, 1956",NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,0
11,Cuba,40,1.0,1957,9,5,"New York Times. Sep 6, 1957",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
12,Cuba,40,NaN,1959,-9,-9,"New York Times. Jan 2, 1959",NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,0
13,Cuba,40,NaN,1959,1,3,"New York Times. Jan 3, 1959",NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,0
14,Cuba,40,NaN,1959,8,10,"New York Times, various",NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,0,0
15,Cuba,40,NaN,1959,8,14,"New York Times. Aug 14, 1959",NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,0
16,Cuba,40,NaN,1961,4,20,"New York Times. Apr 20, 1961",NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,0
17,Cuba,40,NaN,1981,7,11,"New York Times. July 12, 1981",NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0

In [12]:
df.groupby(by='year').count()

,country,ccode,verified,month,day,source,mcgowan,csp,bs,banks,...,no_evidence,rebellion,no_overt,legal,no_exec,protest,autogolpe,assasination,invasion,unclear
year,,,,,,,,,,,,,,,,,,,,,
1950,31,31,2,31,31,31,0,0,6,2,...,31,31,31,31,31,31,31,31,31,31
1951,30,30,6,30,30,30,0,0,11,5,...,30,30,30,30,30,30,30,30,30,30
1952,29,29,5,29,29,29,0,0,7,8,...,29,29,29,29,29,29,29,29,29,29
1953,22,22,3,22,22,22,0,0,4,4,...,22,22,22,22,22,22,22,22,22,22
1954,33,33,6,33,33,33,0,0,7,7,...,33,33,33,33,33,33,33,33,33,33
1955,37,37,8,37,37,37,0,0,8,3,...,37,37,37,37,37,37,37,37,37,37
1956,31,31,5,31,31,31,0,0,6,6,...,31,31,31,31,31,31,31,31,31,31
1957,34,34,8,34,34,34,0,0,8,8,...,34,34,34,34,34,34,34,34,34,34
1958,58,58,11,58,58,58,1,0,11,7,...,58,58,58,58,58,58,58,58,58,58
1959,41,41,6,41,41,41,3,0,3,1,...,41,41,41,41,41,41,41,41,41,41
1960,72,72,12,72,72,72,3,10,14,5,...,72,72,72,72,72,72,72,72,72,72
1961,58,58,11,58,58,58,1,8,15,10,...,58,58,58,58,58,58,58,58,58,58
1962,85,85,14,85,85,85,1,9,17,10,...,85,85,85,85,85,85,85,85,85,85
1963,94,94,16,94,94,94,4,13,30,19,...,94,94,94,94,94,94,94,94,94,94
1964,60,60,8,60,60,60,3,12,15,11,...,60,60,60,60,60,60,60,60,60,60
1965,81,81,16,81,81,81,4,18,18,12,...,81,81,81,81,81,81,81,81,81,81
1966,96,96,19,96,96,96,11,15,27,21,...,96,96,96,96,96,96,96,96,96,96
1967,53,53,9,53,53,53,5,9,19,11,...,53,53,53,53,53,53,53,53,53,53
1968,56,56,9,56,56,56,4,11,16,13,...,56,56,56,56,56,56,56,56,56,56
1969,60,60,10,60,60,60,3,11,20,13,...,60,60,60,60,60,60,60,60,60,60
1970,56,56,8,56,56,56,3,11,22,10,...,56,56,56,56,56,56,56,56,56,56
1971,81,81,10,81,81,81,6,12,24,11,...,81,81,81,81,81,81,81,81,81,81
1972,45,45,10,45,45,45,5,8,13,10,...,45,45,45,45,45,45,45,45,45,45
1973,46,46,8,46,46,46,2,11,15,8,...,46,46,46,46,46,46,46,46,46,46
1974,52,52,10,52,52,52,10,13,17,13,...,52,52,52,52,52,52,52,52,52,52
1975,80,81,16,81,81,81,8,15,35,17,...,81,81,81,81,81,81,81,81,81,81
1976,45,45,11,45,45,45,8,10,18,8,...,45,45,45,45,45,45,45,45,45,45
1977,45,45,9,45,45,45,9,17,20,7,...,45,45,45,45,45,45,45,45,45,45
1978,47,47,12,47,47,47,5,11,16,14,...,47,47,47,47,47,47,47,47,47,47
1979,47,47,8,47,47,47,4,12,14,13,...,47,47,47,47,47,47,47,47,47,47
1980,46,46,10,46,46,46,6,18,15,16,...,46,46,46,46,46,46,46,46,46,46
1981,50,50,11,50,50,50,6,10,10,6,...,50,50,50,50,50,50,50,50,50,50
1982,40,40,7,40,40,40,6,12,9,9,...,40,40,40,40,40,40,40,40,40,40
1983,31,31,7,31,31,31,7,7,10,8,...,31,31,31,31,31,31,31,31,31,31
1984,22,22,5,22,22,22,5,8,6,5,...,22,22,22,22,22,22,22,22,22,22
1985,27,27,8,27,27,27,7,7,8,9,...,27,27,27,27,27,27,27,27,27,27
1986,22,22,5,22,22,22,2,7,1,8,...,22,22,22,22,22,22,22,22,22,22
1987,22,22,9,22,22,22,4,9,14,7,...,22,22,22,22,22,22,22,22,22,22
1988,17,17,6,17,17,17,1,7,10,6,...,17,17,17,17,17,17,17,17,17,17
1989,27,27,10,27,27,27,4,11,18,5,...,27,27,27,27,27,27,27,27,27,27
1990,27,27,5,27,27,27,3,13,8,5,...,27,27,27,27,27,27,27,27,27,27
1991,36,36,13,36,36,36,13,18,11,11,...,36,36,36,36,36,36,36,36,36,36
1992,29,29,9,29,29,29,5,18,7,9,...,29,29,29,29,29,29,29,29,29,29
1993,11,11,5,11,11,11,4,6,5,4,...,11,11,11,11,11,11,11,11,11,11
1994,13,13,6,13,13,13,7,8,2,3,...,13,13,13,13,13,13,13,13,13,13
1995,18,18,5,18,18,18,4,10,9,4,...,18,18,18,18,18,18,18,18,18,18
1996,22,22,6,22,22,22,6,11,14,5,...,22,22,22,22,22,22,22,22,22,22
1997,9,9,3,9,9,9,2,4,3,5,...,9,9,9,9,9,9,9,9,9,9
1998,6,6,1,6,6,6,1,2,4,1,...,6,6,6,6,6,6,6,6,6,6
1999,15,15,6,15,15,15,3,7,12,10,...,15,15,15,15,15,15,15,15,15,15
2000,18,18,7,18,18,18,3,8,11,0,...,18,18,18,18,18,18,18,18,18,18
2001,9,9,4,9,9,9,8,5,0,0,...,9,9,9,9,9,9,9,9,9,9
2002,5,5,2,5,5,5,1,4,0,0,...,5,5,5,5,5,5,5,5,5,5
2003,5,5,4,5,5,5,4,4,0,0,...,5,5,5,5,5,5,5,5,5,5
2004,2,2,2,2,2,2,2,2,0,0,...,2,2,2,2,2,2,2,2,2,2
2005,2,2,2,2,2,2,0,2,0,0,...,2,2,2,2,2,2,2,2,2,2
2006,4,4,3,4,4,4,0,4,0,0,...,4,4,4,4,4,4,4,4,4,4
2010,1,1,1,1,1,1,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [16]:
country = clean.groupby(by='country').count()

In [17]:
country.to_csv("country.csv")

In [20]:
code = pd.read_csv("country-codes.csv")
code.head()

,name,official_name_en,official_name_fr,ISO3166-1-Alpha-2,ISO3166-1-Alpha-3,ISO3166-1-numeric,ITU,MARC,WMO,DS,...,ISO4217-currency_minor_unit,ISO4217-currency_name,ISO4217-currency_numeric_code,is_independent,Capital,Continent,TLD,Languages,geonameid,EDGAR
0,NaN,Channel Islands,Îles Anglo-Normandes,NaN,NaN,830,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Sark,Sercq,NaN,NaN,680,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,Afghanistan,Afghanistan,AF,AFG,4,AFG,af,AF,AFG,...,2.0,Afghani,971.0,Yes,Kabul,AS,.af,"fa-AF,ps,uz-AF,tk",1149361.0,B2
3,Albania,Albania,Albanie,AL,ALB,8,ALB,aa,AB,AL,...,2.0,Lek,8.0,Yes,Tirana,EU,.al,"sq,el",783754.0,B3
4,Algeria,Algeria,Algérie,DZ,DZA,12,ALG,ae,AL,DZ,...,2.0,Algerian Dinar,12.0,Yes,Algiers,AF,.dz,ar-DZ,2589581.0,B4

In [43]:
country_with_code = pd.merge(left=country,right=code, left_on='country', right_on='name')

In [35]:
country_with_code['abb'] = country_with_code['ISO3166-1-Alpha-3']

In [38]:
country_with_code.to_csv("country_with_code.csv")

In [33]:
country = pd.read_csv("country.csv")
country.head()

       country  ccode  year  month  day  coup  version
0  Afghanistan      4     4      4    4     4        4
1      Algeria      4     4      4    4     4        4
2       Angola      1     1      1    1     1        1
3    Argentina     20    20     20   20    20       20
4   Azerbaijan      2     2      2    2     2        2

In [39]:
country_with_code = pd.merge(left=country,right=code, left_on='country', right_on='name')

In [44]:
country_with_code['country']

0                  Afghanistan
1                      Algeria
2                       Angola
3                    Argentina
4                   Azerbaijan
5                   Bangladesh
6                        Benin
7                      Bolivia
8                       Brazil
9                 Burkina Faso
10                     Burundi
11                    Cambodia
12                    Cameroon
13    Central African Republic
14                        Chad
15                       Chile
16                    Colombia
17                     Comoros
18                        Cuba
19                      Cyprus
20                    Djibouti
21                    Dominica
22          Dominican Republic
23                     Ecuador
24                       Egypt
25                 El Salvador
26           Equatorial Guinea
27                    Ethiopia
28                        Fiji
29                       Gabon
                ...
59                    Pakistan
60                      Panama
61            Papua New Guinea
62                    Paraguay
63                        Peru
64                 Philippines
65                    Portugal
66                       Qatar
67                      Russia
68                      Rwanda
69                     Senegal
70                  Seychelles
71                Sierra Leone
72                     Somalia
73                 South Korea
74                       Spain
75                       Sudan
76                    Suriname
77                   Swaziland
78                       Syria
79                    Thailand
80                        Togo
81                     Tunisia
82                      Turkey
83                      Uganda
84                     Ukraine
85        United Arab Emirates
86                     Uruguay
87                   Venezuela
88                      Zambia
Name: country, dtype: object

In [45]:
unverified = df.groupby(by='country').count()

In [52]:
unverified.to_csv("unverified.csv")
unv = pd.read_csv("unverified.csv")
unv.head()

,country,ccode,verified,year,month,day,source,mcgowan,csp,bs,...,no_evidence,rebellion,no_overt,legal,no_exec,protest,autogolpe,assasination,invasion,unclear
0,Afghanistan,25,4,25,25,25,25,0,11,9,...,25,25,25,25,25,25,25,25,25,25
1,Albania,3,0,3,3,3,3,0,1,0,...,3,3,3,3,3,3,3,3,3,3
2,Algeria,22,3,22,22,22,22,0,2,4,...,22,22,22,22,22,22,22,22,22,22
3,Angola,6,1,6,6,6,6,1,2,2,...,6,6,6,6,6,6,6,6,6,6
4,Argentina,81,20,81,81,81,81,0,11,23,...,81,81,81,81,81,81,81,81,81,81

In [54]:
unverified_code = pd.merge(left=unv,right=code, left_on='country', right_on='name')

In [59]:
unverified_code.to_csv("unverified_code.csv")

In [58]:
unverified_code['abb'] = unverified_code['ISO3166-1-Alpha-3']

In [83]:
df['id'] = df.index

In [71]:
df.to_csv("withid.csv")

In [84]:
df

,country,ccode,verified,year,month,day,source,mcgowan,csp,bs,...,rebellion,no_overt,legal,no_exec,protest,autogolpe,assasination,invasion,unclear,id
0,Cuba,40,NaN,1952,-9,-9,"New York Times. Mar 11, 1952. p. 13",NaN,NaN,2.0,...,0,0,0,0,0,0,0,0,0,0
1,Cuba,40,NaN,1952,3,-9,"New York Times. Mar 11, 1952. p. 13",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
2,Cuba,40,2.0,1952,3,10,"New York Times. Mar 11, 1952. p. 13",NaN,NaN,2.0,...,0,0,0,0,0,0,0,0,0,2
3,Cuba,40,NaN,1952,3,11,"New York Times. Mar 11, 1952. p. 13",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,3
4,Cuba,40,NaN,1952,4,9,none,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,4
5,Cuba,40,NaN,1953,7,27,"New York Times. July 27, 1953. pg. 1",NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,5
6,Cuba,40,NaN,1956,4,29,"New York Times. Apr 30, 1956",NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,6
7,Cuba,40,NaN,1956,4,30,"New York Times. Apr 30, 1956",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,7
8,Cuba,40,NaN,1956,12,1,"New York Times. Dec 1, 1956",NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,8
9,Cuba,40,NaN,1956,12,10,"New York Times. Dec 10, 1956",NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,9
10,Cuba,40,NaN,1956,12,27,"New York Times. Dec 28, 1956",NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,10
11,Cuba,40,1.0,1957,9,5,"New York Times. Sep 6, 1957",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,11
12,Cuba,40,NaN,1959,-9,-9,"New York Times. Jan 2, 1959",NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,12
13,Cuba,40,NaN,1959,1,3,"New York Times. Jan 3, 1959",NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,13
14,Cuba,40,NaN,1959,8,10,"New York Times, various",NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,14
15,Cuba,40,NaN,1959,8,14,"New York Times. Aug 14, 1959",NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,15
16,Cuba,40,NaN,1961,4,20,"New York Times. Apr 20, 1961",NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,16
17,Cuba,40,NaN,1981,7,11,"New York Times. July 12, 1981",NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,17
18,Haiti,41,NaN,1950,-9,-9,"New York Times. May 11, 1950. p. 12",NaN,NaN,2.0,...,0,0,0,0,0,0,0,0,0,18
19,Haiti,41,NaN,1950,5,-9,"New York Times. May 11, 1950. p. 12",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,19
20,Haiti,41,2.0,1950,5,10,"New York Times. May 11, 1950. p. 12",NaN,NaN,2.0,...,0,0,0,0,0,0,0,0,0,20
21,Haiti,41,NaN,1950,5,11,"New York Times. May 11, 1950. p. 12",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,21
22,Haiti,41,NaN,1950,10,3,http://countrystudies.us/haiti/16.htm,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,0,22
23,Haiti,41,NaN,1956,-9,-9,"New York Times. Dec 13, 1956",NaN,NaN,2.0,...,0,0,0,0,0,0,0,0,0,23
24,Haiti,41,NaN,1956,12,-9,"New York Times. Dec 13, 1956",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,24
25,Haiti,41,NaN,1956,12,7,"New York Times. Dec 7, 1956",NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,25
26,Haiti,41,NaN,1956,12,12,"New York Times. Dec 13, 1956",NaN,NaN,2.0,...,0,0,1,0,0,0,0,0,0,26
27,Haiti,41,NaN,1957,-9,-9,unclear,NaN,NaN,2.0,...,0,0,0,0,0,0,0,0,1,27
28,Haiti,41,NaN,1957,-9,-9,unclear,NaN,NaN,2.0,...,0,0,0,0,0,0,0,0,1,28
29,Haiti,41,NaN,1957,2,-9,"New York Times. Feb 5, 1957",NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,0,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2112,Indonesia,850,NaN,1956,-9,-9,unclear,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,1,2112
2113,Indonesia,850,NaN,1956,10,11,"New York Times. Oct 10, 1956",NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,2113
2114,Indonesia,850,NaN,1956,11,16,"New York Times. Nov 17, 1956",NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,2114
2115,Indonesia,850,NaN,1956,12,22,"New York Times. Dec 23, 1956",NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,2115
2116,Indonesia,850,NaN,1957,-9,-9,New York Times. various,NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,2116
2117,Indonesia,850,NaN,1958,1,2,none,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2117
2118,Indonesia,850,NaN,1958,2,10,New York Times. various,NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,2118
2119,Indonesia,850,NaN,1960,3,-9,New York Times. various,NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,2119
2120,Indonesia,850,NaN,1965,-9,-9,unclear,NaN,NaN,1.0,...,0,0,0,0,0,0,0,0,1,2120
2121,Indonesia,850,NaN,1965,-9,-9,unclear,NaN,NaN,1.0,...,0,0,0,0,0,0,0,0,1,2121
2122,Indonesia,850,NaN,1965,10,-9,"New York Times. Oct 2, 1965",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2122
2123,Indonesia,850,NaN,1965,10,-9,"New York Times. Oct 2, 1965",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2123
2124,Indonesia,850,1.0,1965,10,1,"New York Times. Oct 2, 1965",NaN,1.0,NaN,...,0,0,0,0,0,0,0,0,0,2124
2125,Indonesia,850,NaN,1965,10,2,"New York Times. Oct 2, 1965",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2125
2126,Indonesia,850,NaN,1965,11,16,New York Times. various,NaN,NaN,NaN,...,1,0,0,0,0,0,0,0,0,2126
2127,Indonesia,850,NaN,1966,-9,-9,"New York Times. Mar 12, 1966",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2127
2128,Indonesia,850,NaN,1966,3,-9,"New York Times. Mar 12, 1966",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2128
2129,Indonesia,850,NaN,1966,3,11,"New York Times. Mar 12, 1966",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2129
2130,Indonesia,850,2.0,1966,3,12,"New York Times. Mar 12, 1966",NaN,2.0,NaN,...,0,0,0,0,0,0,0,0,0,2130
2131,Indonesia,850,NaN,1967,-9,-9,none,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2131
2132,Indonesia,850,NaN,1969,12,20,"New York Times (1857-Current file). Dec 20, 19...",NaN,NaN,NaN,...,0,1,0,0,0,0,0,0,0,2132
2133,Papua New Guinea,910,1.0,1990,3,14,Sutton 1993. 'Size & Survival...' p. 118,NaN,1.0,NaN,...,0,0,0,0,0,0,0,0,0,2133
2134,Fiji,950,NaN,1987,-9,-9,"New York Times. May 14, 1987",NaN,NaN,2.0,...,0,0,0,0,0,0,0,0,0,2134
2135,Fiji,950,NaN,1987,-9,-9,"New York Times. May 14, 1987",NaN,NaN,2.0,...,0,0,0,0,0,0,0,0,0,2135
2136,Fiji,950,2.0,1987,5,14,"New York Times. May 14, 1987",NaN,2.0,2.0,...,0,0,0,0,0,0,0,0,0,2136
2137,Fiji,950,NaN,2000,-9,-9,"New York Times. May 20, 2000",NaN,NaN,1.0,...,0,0,0,0,0,0,0,0,0,2137
2138,Fiji,950,NaN,2000,-9,-9,"New York Times. May 20, 2000",NaN,NaN,1.0,...,0,0,0,0,0,0,0,0,0,2138
2139,Fiji,950,NaN,2000,5,19,"New York Times. May 20, 2000",NaN,1.0,1.0,...,1,0,0,0,0,0,0,0,0,2139
2140,Fiji,950,2.0,2006,12,5,http://www.einnews.com/oceania/newsfeed-fiji-coup,NaN,2.0,NaN,...,0,0,0,0,0,0,0,0,0,2140
2141,Niger,436,2.0,2010,2,18,"BBC, 02/19/2010",NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2141

In [75]:
new = df[pd.notnull(df['verified'])]

In [79]:
len()

2       2.0
11      1.0
20      2.0
32      2.0
33      2.0
36      2.0
46      1.0
49      2.0
52      2.0
53      2.0
57      1.0
58      1.0
63      1.0
64      2.0
75      1.0
82      2.0
86      2.0
89      1.0
99      1.0
101     2.0
102     2.0
111     2.0
114     1.0
117     2.0
121     1.0
124     1.0
127     2.0
135     2.0
141     2.0
146     1.0
       ...
2010    2.0
2014    2.0
2026    1.0
2032    2.0
2038    2.0
2041    2.0
2048    2.0
2051    1.0
2054    1.0
2057    1.0
2059    1.0
2064    1.0
2073    1.0
2077    2.0
2081    2.0
2082    1.0
2089    2.0
2090    1.0
2091    2.0
2098    1.0
2101    1.0
2102    1.0
2104    1.0
2105    1.0
2124    1.0
2130    2.0
2133    1.0
2136    2.0
2140    2.0
2141    2.0
Name: verified, dtype: float64

0       2.0
1       NaN
2       2.0
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      2.0
19      NaN
20      2.0
21      NaN
22      NaN
23      2.0
24      NaN
25      NaN
26      2.0
27      2.0
28      2.0
29      NaN
       ...
2112    NaN
2113    NaN
2114    NaN
2115    NaN
2116    NaN
2117    NaN
2118    NaN
2119    NaN
2120    1.0
2121    1.0
2122    NaN
2123    NaN
2124    NaN
2125    NaN
2126    NaN
2127    NaN
2128    NaN
2129    NaN
2130    NaN
2131    NaN
2132    NaN
2133    NaN
2134    2.0
2135    2.0
2136    2.0
2137    1.0
2138    1.0
2139    1.0
2140    NaN
2141    NaN
Name: bs, dtype: float64

In [88]:
for i in df['mcgowan']:
    print (i)

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
1.0
2.0
nan
nan
nan
nan
2.0
nan
1.0
nan
1.0
nan
nan
nan
2.0
nan
nan
nan
nan
2.0
nan
1.0
nan
1.0
1.0
nan
nan
nan
1.0
1.0
nan
nan
2.0
2.0
nan
1.0
nan
nan
nan
nan
nan
2.0
nan
nan
nan
nan
nan
nan
nan
nan
nan
2.0
2.0
nan
nan
nan
1.0
nan
nan
nan
nan
nan
2.0
nan
nan
nan
nan
nan
nan
nan
nan
nan
2.0
nan
nan
nan
2.0
nan
nan
nan
2.0
nan
nan
nan
nan
nan
nan
2.0
nan
nan
nan
nan
nan
1.0
nan
2.0
nan
nan
nan
nan
nan
1.0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
1.0
nan
nan
2.0
nan
nan
2.0
nan
nan
1.0
nan
nan
2.0
nan
1.0
nan
nan
nan
nan
2.0
2.0
nan
nan
nan
1.0
1.0
nan
nan
1.0
nan
2.0
nan
2.0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2.0
1.0
nan
1.0
1.0
nan
nan
nan
nan
1.0
nan
nan
nan
nan
2.0
nan
nan
1.0
nan
nan
1.0
nan
nan
nan
nan
2.0
nan
nan
nan
2.0
nan
nan
2.0
nan
nan
2.0
nan
2.0
1.0
nan
nan
2.0
nan
nan
nan
nan
nan
nan
nan
nan
2.0
nan
nan
nan
nan
nan
nan
nan
nan
1.0
1.0
nan
nan
1.0
nan
nan
nan
nan
nan
nan
1.0
2.0
nan
nan
nan
nan
2.0
nan
nan
nan
nan
nan
nan
1.0
nan
nan
nan
nan
1.0
nan
2.0
nan
1.0
nan
1.0
nan
2.0
nan
1.0
nan
2.0
1.0
nan
1.0
nan
nan
nan
2.0
nan
nan
nan
1.0
nan
nan
nan
nan
2.0
nan
nan
nan
nan
nan
2.0
nan
1.0
nan
2.0
nan
2.0
nan
nan
nan
1.0
1.0
nan
nan
1.0
nan
1.0
nan
nan
nan
2.0
nan
nan
nan
nan
nan
nan
nan
nan
2.0
nan
nan
nan
1.0
nan
nan
nan
nan
nan
nan
nan
1.0
1.0
1.0
1.0
1.0
1.0
nan
nan
nan
1.0
nan
nan
nan
nan
nan
2.0
nan
nan
2.0
nan
nan
nan
nan
nan
2.0
nan
nan
1.0
nan
nan
2.0
nan
nan
2.0
1.0
nan
2.0
nan
nan
nan
1.0
nan
nan
nan
nan
nan
nan
nan
2.0
nan
nan
nan
nan
nan
nan
1.0
1.0
nan
nan
nan
2.0
nan
nan
nan
2.0
nan
nan
1.0
nan
nan
nan
nan
1.0
nan
1.0
2.0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2.0
nan
nan
nan
nan
nan
1.0
nan
nan
nan
nan
nan
nan
nan
nan
1.0
nan
nan
nan
1.0
nan
nan
nan
nan
nan
nan
nan
nan
2.0
nan
nan
nan
nan
nan
nan
nan
1.0
nan
nan
nan
nan
nan
nan
nan
1.0
nan
2.0
nan
nan
nan
nan
nan
nan
nan
nan
1.0
nan
nan
nan
1.0
nan
nan
1.0
nan
nan
nan
nan
2.0
nan
nan
nan
nan
1.0
nan
nan
nan
2.0
nan
nan
nan
nan
nan
nan
2.0
1.0
1.0
nan
nan
nan
nan
2.0
nan
2.0
nan
nan
2.0
2.0
nan
nan
nan
nan
1.0
nan
nan
1.0
nan
nan
1.0
1.0
1.0
nan
1.0
nan
1.0
1.0
nan
nan
nan
2.0
nan
nan
nan
2.0
nan
nan
1.0
nan
nan
nan
1.0
nan
nan
nan
1.0
nan
nan
nan
nan
nan
nan
1.0
nan
nan
nan
nan
2.0
nan
nan
2.0
nan
nan
nan
nan
nan
nan
nan
nan
nan
2.0
nan
nan
2.0
1.0
nan
1.0
1.0
1.0
nan
2.0
nan
1.0
1.0
1.0
1.0
nan
nan
nan
2.0
nan
nan
nan
nan
1.0
nan
nan
2.0
nan
nan
nan
nan
nan
nan
nan
1.0
nan
nan
nan
1.0
nan
nan
nan
nan
1.0
1.0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2.0
nan
nan
2.0
2.0
nan
nan
2.0
2.0
nan
2.0
nan
1.0
nan
nan
nan
nan
nan
1.0
nan
nan
1.0
nan
1.0
nan
nan
nan
1.0
1.0
nan
nan
1.0
nan
nan
nan
nan
nan
2.0
nan
nan
nan
2.0
2.0
2.0
2.0
nan
nan
nan
1.0
nan
nan
nan
nan
2.0
nan
1.0
nan
nan
1.0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2.0
nan
nan
1.0
1.0
2.0
nan
nan
1.0
nan
1.0
1.0
nan
2.0
nan
1.0
1.0
1.0
2.0
nan
2.0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2.0
nan
nan
1.0
nan
nan
1.0
nan
nan
nan
1.0
nan
nan
nan
nan
nan
nan
nan
nan
1.0
nan
nan
nan
nan
nan
nan
2.0
nan
nan
nan
nan
nan
nan
nan
1.0
nan
1.0
nan
nan
nan
1.0
nan
nan
1.0
nan
1.0
1.0
nan
nan
1.0
nan
nan
2.0
nan
nan
nan
2.0
1.0
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan